.list {
  padding: 15px;
  list-style-type: none;
}

.task__button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(348, 83%, 47%);
  width: 30px;
  height: 30px;
  padding: 2px;
  border: none;
  margin: 0;
  transition: 0.5s;
}

.task__button--toggleDone {
  background-color: hsl(120, 61%, 34%);
}

.task__button--toggleDone:hover {
  background-color: hsl(120, 61%, 39%);
  cursor: pointer;
}

.task__button--toggleDone:active {
  background-color: hsl(120, 61%, 44%);
}

.task__button--remove:hover {
  background-color: hsl(348, 83%, 52%);
  cursor: pointer;
}

.task__button--remove:active {
  background-color: hsl(348, 83%, 57%);
}

.taskContent {
  margin: 10px;
}

.taskContent--done {
  text-decoration: line-through;
}

.tasksList {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 10px;
  border-bottom: solid 1px hsl(0, 0%, 94%);
  align-items: center;
}

.tasksList--hidden {
  display: none;
}